body {
    background-color: lightgrey;
}

.card {
    width: 30%;
    min-width: 200px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 30px 15px 15px;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 20px 20px;

}

.card2 {
    width: 30%;
    min-width: 200px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 30px 15px 15px;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 20px 20px;
}

.div__img-conteiner {
    position: relative;
    margin-left: 0 5px 45px;
    padding-top: 83.75%;

}


.card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 83,75%;
    object-fit: contain;
}

.card__img-discount {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 83,75%;
    object-fit: inherit;
}

.card__h2{
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 6px;
    color: #000000;
}

.card__code {
    margin-bottom:15px
}

.card__reting {
    margin-bottom: 20px;
    float: left;
    width: 50%;
}

.card__review {
    float: right;
}

.card_price-conteiner {
    clear: both;
}

.carg__price-price {
    font-weight: normal;
    float: left;
    margin-bottom: 21px;
}

.card__price-emount {
    float: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

.card__bye {
    width: 170px;
    height: 40px;
    clear: both;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: #00ACDC;
    border-radius: 5px;
}
button:hover {
    background: #FFF;
    color: #00ACDC;
}